@media only screen and (min-width: 32.5em) {
	header img {
		width: 100%;
		margin-left: 28%;
	}
	
	.headings {
		margin-left: 5%;
	}

	.headings h1 {
		font-size: 2rem;
	}

	.motto {
		letter-spacing: 1.5pt;
		margin-left: 17px;
	}
	nav {
		/*background: #555555; 
		background: -moz-linear-gradient(top,  #555555 0%, #353535 100%); 
		background: -webkit-linear-gradient(top,  #555555 0%,#353535 100%);*/ 
		background: linear-gradient(to bottom,  #555555 0%,#353535 100%); 
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#353535',GradientType=0 ); 
		*/display: flex;
	}
	nav button {
		display: none;
	}

	nav ul.hide {
		display: flex;
		margin: 0 auto;
		flex: 1 1 100%;
		justify-content: space-evenly;
	}
	
	nav ul li a {
		border: none;
		/*padding: .8rem 1rem;*/
	}

	nav ul li.activebutton a {
		box-shadow: 0 -30px 50px rgba(0,0,0,0.3) inset, 0 0 15px #222 inset;
		border: 2px solid rgba(0,0,0,0.3);
	}
	.weathersummary {
		font-size: 1.2em;
		line-height: 1.2em;
		
	}
	.flex {
		display: flex;
		flex-flow: row wrap;
		margin: 25px auto;
		max-width: 700px;
		border-right: 1px solid rgb(41, 42, 41);
		box-shadow: 0 0 5px #333;
	}
	
	.flex-col {
		flex: 1 1 auto;
		border-bottom: 1px solid rgb(41, 42, 41);
		border-left: 1px solid rgb(41, 42, 41);
		text-align: center;
	}
	.col-head {
		display: block;
		padding: 5px;
		background-color:rgb(253,165,31);
		border-bottom: 1px solid rgb(41, 42, 41);
		border-top: 1px solid rgb(41, 42, 41);
		text-align: center;
		font-size: 1.25rem;
		font-weight: bold;
	}
	.data {
		display: block;
		padding: 0 5px 5px;
		font-size: 1rem;
		text-align: center;
		color:rgb(41, 42, 41);
	}

	.article img {
		float: right;
		margin: 2em;
		width: 300px;
		height: auto;
	}
}
