body {
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	color:rgb(41, 42, 41)
}
header {
    background: #1875b9; 
    background: -moz-linear-gradient(top,  #1875b9 0%, #004d91 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1875b9 0%,#004d91 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1875b9 0%,#004d91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1875b9', endColorstr='#004d91',GradientType=0 ); /* IE6-9 */
    ;
	padding: .5rem;
	display: flex;
	align-items:center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
    color: white;
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.motto {
	letter-spacing: 1pt;
	color: white;
    text-shadow: 1px 1px rgb(41, 42, 41);
	margin-left: 18px;
	font-size: .9rem;
}
nav {
	margin: 0 auto;
	background-color: rgb(85, 85, 85);
}
.primarynav {
	list-style: none;
	padding: 0;
	margin: 0;
}
.primarynav li:first-child {
	display: block;
}
.primarynav li {
	display: none;
}
.primarynav a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}
nav ul li.activebutton a {
    background-color: rgba(0,0,0,0.2);
    color: rgb(253,165,31);
}
.primarynav a:hover {
	color: white;
	background-color: rgba(0,0,0,0.4);
}

.responsive li {
	display: block;
}

h2 {
	text-align: center;
	color: rgb(41, 42, 41);
}

main div {
	box-shadow: 0 0 3px #333;
	margin: 1em;
	background-color: rgb(218, 218, 218);
    padding: .75rem;
}

 footer {
    position: relative;
    background-color: rgb(24, 117, 185);
    padding: .5rem;
    color: white;
	text-align: center;
    font-family: 'Nunito', sans-serif;
}

footer a {
    color: inherit;
}