@media only screen and (min-width: 60em) {
    
	.headings h1 {
		font-size: 3rem;
	}

    .motto {
		font-size: x-large;
	}

	nav ul li a {
		padding: .6rem 1rem;
	}
	.subhead{
		font-size: 2rem;
	}
	.weathersummary {
		width: 250px;
		font-size: 1.2em;
		line-height: 1.2em;
		left: 45px;
		bottom: 25px;
		
	}
	.gallery li:hover {
		box-shadow: 0 5px 50px rgb(41, 42, 41);
	}

	
}