@media only screen and (min-width: 32.5em) {
	.pancakefriday {
		font-size: large;
		font-weight: bold;
	}
	header img {
		width: 100%;
		margin-left: 28%;
	}
	
	.headings {
		margin-left: 5%;
	}

	.headings h1 {
		font-size: 2rem;
	}

	.motto {
		letter-spacing: 1.5pt;
		margin-left: 17px;
	}
	nav {
		/*background: #555555; 
		background: -moz-linear-gradient(top,  #555555 0%, #353535 100%); 
		background: -webkit-linear-gradient(top,  #555555 0%,#353535 100%);*/ 
		background: linear-gradient(to bottom,  #555555 0%,#353535 100%); 
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#353535',GradientType=0 ); 
		*/display: flex;
	}
	nav button {
		display: none;
	}

	nav ul.hide {
		display: flex;
		margin: 0 auto;
		flex: 1 1 100%;
		justify-content: space-evenly;
	}
	
	nav ul li a {
		border: none;
		/*padding: .8rem 1rem;*/
	}

	nav ul li.activebutton a {
		box-shadow: 0 -30px 50px rgba(0,0,0,0.3) inset, 0 0 15px #222 inset;
		border: 2px solid rgba(0,0,0,0.3);
	}
	.plancontent {
		max-width: 820px;
		margin: 0 auto;
	
	}
	.weathersummary {
		position: absolute;
		bottom: 20px;
		left: 20px;
		padding: 1.5rem;
		background: rgb(24, 117, 185);
		opacity: .98;
		color: white;
		border: 1pt solid rgb(24, 117, 185);
		box-shadow: 0 0 5px #333;
	}
	.weekforecast {
		display: block;
		text-align: center;
		color: rgb(41, 42, 41);
	}
	.flex {
		display: flex;
		flex-flow: row wrap;
		margin: 25px auto;
		max-width: 700px;
		border-right: 1px solid rgb(41, 42, 41);
		box-shadow: 0 0 5px #333;
	}
	
	.forecastdays {
		flex: 1 1 auto;
		border-bottom: 1px solid rgb(41, 42, 41);
		border-left: 1px solid rgb(41, 42, 41);
		text-align: center;
	}
	.weekday {
		display: block;
		padding: 5px;
		background-color:rgb(253,165,31);
		border-bottom: 1px solid rgb(41, 42, 41);
		border-top: 1px solid rgb(41, 42, 41);
		text-align: center;
		font-size: 1.25rem;
		font-weight: bold;
	}
	.data {
		display: block;
		padding: 0 5px 5px;
		font-size: 1rem;
		text-align: center;
		color:rgb(41, 42, 41);
	}

	.article img {
		float: right;
		width: 350px;
		height: auto;
		margin: 1rem;
	}
	.contactcontainer {
		grid-template-columns: 1fr 1fr;
	}
	.prestonmap {
		display: block;
		width: 50%;
		height: auto;
		box-shadow: 0 0 5px #333;
		margin: 1rem;
	}
	
	.smicon {
		width: 36px;
		height: auto;
	}
}
