body {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: rgb(41, 42, 41);
  margin: 0 auto;
}
.pancakefriday, .contactcontainer{
  background: rgb(253, 165, 31);
  padding: 0.2rem;
}
.pancakefriday {
  text-align: center;
}
header {
  background: linear-gradient(to bottom, #1875b9 0%, #004d91 100%);
 
  display: flex;
}
header, .contactcontainer {
  align-items: center;
}
header, footer {
  padding: 0.5rem; 
}
header img {
  width: 80px;
}
header img, .homehero img, div.towns img, .prestonhero img, .article img, .smicon, .gallerygrid img, form label.top input, form label.top select, form label.top textarea, .reportBtn, .submitBtn{
  height: auto;  
}
.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  
  font-size: 1.6rem;
  margin: 0 0 0 17px;
}
.headings h1, .motto, nav button, nav ul li a, .homeherotext .button, div.event .ticketbtn, .weathersummary, div.eventcontainer, footer {
  color: white; 
}
.motto {
  letter-spacing: 1pt;
  text-shadow: 1px 1px rgb(41, 42, 41);
  margin-left: 18px;
  font-size: 0.9rem;
}

nav button {
  margin: 0.2rem 2%;
  padding: 0.45rem;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

nav {
  background-color: rgb(85, 85, 85);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  padding: 0.8rem 2%;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a, .prestonhero img, .article img, form label.top, form div, form label.top input,
form label.top select,form label.top textarea, form label.sbs {
  display: block;
}
nav ul li.activebutton a {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(253, 165, 31);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
main {
  margin: auto;
}
/***********Home Page*****************/
.homehero {
  margin: 0 auto;
  position: relative;
}
.homehero img {
  width: 100%;
}
.homeherotext {
  position: absolute;
  left: 25px;
  top: 3px;
}
.homeherotext h2 {
  margin: 10px 0 15px 0;
  font-size: 1.5em;
  color: rgb(41, 42, 41);
}
.homeherotext .button {
  background-color: rgb(41, 42, 41);
  margin: 0;
  text-decoration: none;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
}
.homeherotext .button:hover {
  box-shadow: 0 0 5px rgb(41, 42, 41);
}
div.towns section {
  text-align: center;
  margin: 20px auto;
}
div.towns section, div.towns img, div.event img, .flex, .prestonhero img, .prestonmap, .weathersummary, .article, div.eventcontainer, .article img, .gallerygrid figure, div.stormform {
  box-shadow: 0 0 5px #333;
}
div.towns h3 {
  color:rgb(41, 42, 41);
  margin: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
}
div.towns h4 {
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}
div.towns p {
  margin: 5px;
}
div.towns img {
  margin-top: 5px;
  width: 75%;
  margin-bottom: 10px;
}
div.towns section:nth-child(odd) {
  background-color: rgb(218, 218, 218);
}
div.event img {
  display: none;
}
div.event section {
  text-align: center;
  padding: 20px;
}
div.event .ticketbtn {
  background-color: rgb(41, 42, 41);
  margin: 0;
  text-decoration: none;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}
div.event .ticketbtn:hover {
  box-shadow: 0 0 5px rgb(41, 42, 41);
}
/***********Town Pages**************/
.subhead {
  text-align: center;
}

.hero {
  position: relative;
  margin: 25px auto;
}

.prestonhero {
  position: relative;
  text-align: center;
}
.prestonhero img {
  margin: 0 auto;
  width: 100%;
}
.weathersummary {
  margin: 25px auto;
  padding: 1.5rem;
  background: rgb(24, 117, 185);
  border: 1pt solid rgb(24, 117, 185);
}
.summarytitle {
  text-align: center;
  border-bottom: 1px solid white;
}
.summarygrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sumleft {
  margin-right: 0.5rem;
  font-weight: 700;
  text-align: right;
}
.sumright {
  margin-left: 0.5rem;
  text-align: left;
}
.weekforecast {
  display: none;
}
.flex {
  display: none;
}
div.eventcontainer {
  text-align: center;
  background-color:  rgb(24, 117, 185);
  padding: 10px;
  max-width: 400px;
  border: 1px solid rgb(41, 42, 41);
  margin: auto;

}
.article {
  position: relative;
  margin: 25px auto;
  padding: 1.2rem;
  background-color: rgb(218, 218, 218);
  text-align: left;
}
.articleauthor {
  font-style: italic;
}
.article img {
  margin: auto;
  width: 95%;
  border: 1px solid rgb(41, 42, 41);
}

.contactcontainer {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 25px auto;
  justify-items: center;
}
.prestonmap {
  display: none;
}
.contactinfo {
  line-height: 2rem;
}
.contactinfo a {
  text-decoration: none;
  color: rgb(41, 42, 41);
}
.smicon {
  padding: 1rem;
  width: 24px;
  justify-content: space-evenly;
}
/*-------------Gallery----------------*/
.gallerygrid {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 15px;
}
.gallerygrid img {
  max-width: 100%;
  filter: blur(0em);
  transition: filter 0.5s;
}
.gallerygrid figcaption {
  text-align: center;
  padding: 0.5em;
}
.gallerygrid figure img[data-src] {
  filter: blur(0.2em);
}
/*-----------Storm Center-----------*/
div.stormform {
  background: #1e5799; 
  background: -moz-linear-gradient(top,  #1e5799 0%, #dadada 0%, #f4f6f7 100%); 
  background: -webkit-linear-gradient(top,  #1e5799 0%,#dadada 0%,#f4f6f7 100%); 
  background: linear-gradient(to bottom,  #1e5799 0%,#dadada 0%,#f4f6f7 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f4f6f7',GradientType=0 ); 
  padding: 0.5em 1em;
  border-radius: 10px;
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
}

form fieldset {
  margin-bottom: 2rem;
  border: 2px solid rgb(41, 42, 41);
  border-radius: 5px;
  padding: 0.5rem 2%;
}

form legend {
  color: rgb(41, 42, 41);
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 1.2em;
}

form label.top,
form div {
  padding-top: 1.5rem;
  color: rgb(41, 42, 41);
}

form label.top input,
form label.top select,
form label.top textarea {
  border: solid 1px rgb(41, 42, 41);
  border-radius: 3px;
  padding: 0.75rem;
  color: rgb(41, 42, 41);
  width: 85%;
  max-width: 20rem;
  background-color: rgba(245, 243, 245, 0.8);
  margin-top: 5px;
}
form #severityValue {
  color: rgb(24, 117, 185);
}
form label.sbs {
  padding: 0.75rem 0;
  color: rgb(41, 42, 41);
}
form input.submitBtn:hover {
  box-shadow: 0 0 10px rgb(41, 42, 41);
}
.reportBtn {
  margin: 0 auto;
  width: 50%;
}
.submitBtn {
  background-color: rgb(253, 165, 31);
  color: rgb(41, 42, 41);
  border-radius: .75rem;
  padding: 0.75rem;
  margin: 1.5rem auto;
  width: 100%;
  border: solid 1px rgb(41, 42, 41);
  box-shadow: 0 0 2px #333;
  font-weight: bold;

}
form label.top input:required {
  border: 2px solid rgb(253, 165, 31);
}
form label.top input:required:valid {
  border: 1px solid rgb(41, 42, 41);
}
#thanksimg {
  display: grid;
  margin: 0 auto;
  padding-bottom: 1rem;

}
/*--------------Footer----------*/
footer {
  position: relative;
  background-color: rgb(24, 117, 185);
  text-align: center;
  font-family: "Nunito", sans-serif;
}

footer a {
  color: inherit;
}
