@media only screen and (min-width: 60em) {
	.headings h1 {
		font-size: 3rem;
	}
    header img {
		width: 100%;
	}
	h3 {
        font-size: 28px;
    }
	/*-----------hero-------*/
	.homeherotext h2 {
		font-size: 3em;
	}
	.homeherotext .button {
		font-size: 24px;
	}
	.businessads {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2em;
		max-width: 1000px;
		margin: 0 auto;
	}
	.adcontainer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr;
		gap: 1em;
		text-align: center;
	}
	.adcontainer section {
		text-align: center;
	}
}