body {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: rgb(43,33,41);
    margin: 0 auto;
  }
div.weatheralert {
  background-color: rgb(201,107,55);
  color: white;
  text-align: center;
  padding: .5em;
}
.alertbtn {
  color: white;
  cursor: pointer;

}
header {
    background: rgb(229,209,184);
    display: flex;
    align-items: center;
  }

  header, footer {
    padding: 0.5rem; 
  }
  header img {
    width: 80px;
    height: auto;
  }
  header section {
    margin: 10px;
  }
  h1, h3 {
    margin: 0 auto;
  }
  h1 {
    font-family: "Raleway Light", sans-serif;
    font-size: 1.6rem;
  }
  h3 {
    font-family: "Raleway Black", sans-serif;
    font-size: 0.9rem;
  }
  /*--------------Nav---------------*/
  nav {
    margin: 0 auto;
    background-color: rgb(169,185,179);
    );
    font-size: 18px;
  }
  .primarynav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .primarynav li:first-child {
    display: block;
  }
  .primarynav li, .citylife, .homeherotext h2, iframe {
    display: none;
  }
  .primarynav a {
    display: block;
    padding: 0.75rem;
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
    color: rgb(43,33,41);
    transition: 0.5s;
    font-weight: bolder;
  }
  nav ul li.activebutton a {
      background-color: rgba(0,0,0,0.2);
      color: rgb(43,33,41);
  }
  .primarynav a:hover {
    color: white;
    background-color: rgba(0,0,0,0.4);
  }
  .responsive li {
    display: block;
  }
/*------------------hero------------------*/
.homehero {
  margin: 0 auto;
  position: relative;
}
.homehero img {
  width: 100%;
  opacity: 0.7;
}
.homeherotext {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}
.homeherotext .button {
  color: white;
  background-color: rgb(41, 42, 41);
  margin: 0;
  text-decoration: none;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}
.homeherotext .button:hover {
  box-shadow: 0 0 5px rgb(41, 42, 41);
}
/*----------Chamber of Commerce------*/
.purpose {
  text-align: center;
  padding: 2rem;
}
.events {
  padding: 1em;
  background-color: white;
}
.events li {
  text-align: left;
}
.adcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1em;
  align-items: center;
  background-color: rgb(246,246,242);
  box-shadow: 0 0 5px rgb(41, 42, 41);
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  justify-items: center;
}
.adcontainer img {
	width: 143px;
  }
.localinfo {
  text-align: center;
  padding: 1em;
  background-color: rgb(202,199,185);
  margin-bottom: 20px;
}
.localweather {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
  .flex {
		display: flex;
		flex-flow: row wrap;
		margin: 25px auto;
		max-width: 700px;
		border-right: 1px solid rgb(41, 42, 41);
	}
	.forecastdays {
		flex: 1 1 auto;
		border-bottom: 1px solid rgb(41, 42, 41);
		border-left: 1px solid rgb(41, 42, 41);
		text-align: center;
	}
	.weekday {
    display: block;
		padding: 5px;
		background-color:rgb(112,138,129);
		border-bottom: 1px solid rgb(41, 42, 41);
		border-top: 1px solid rgb(41, 42, 41);
		font-size: 1.25rem;
		font-weight: bold;
	}
	.data {
		padding: 0 5px 5px;
		font-size: 1rem;
	}
  .summarytitle {
    text-align: center;
    border-bottom: 1px solid white;
  }
  .summarygrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sumleft {
    margin-right: 0.5rem;
    font-weight: 700;
    text-align: right;
  }
  .sumright {
    margin-left: 0.5rem;
    text-align: left;
  }
/*-------West Richland-----*/
.wrhistory {
  padding: 1em;
}
/*--------Membership-------*/
.title {
  background-color: rgb(202,199,185);
  margin: 1em auto;
  padding: 1em;
}
#fcontainer {
  margin-bottom: 20px;
}
/*----------Thank You--------*/
.thanks {
  text-align: center;
  margin: 20px auto;
}
/*---------Directory---------*/
.links ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.links ul li {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  padding: 10px;
}
.links ul li:hover, .links ul li.active{
  color: rgb(201,107,55);
}
div.views img {
  width: 143px;
}
div.listitem {
  background-color: rgb(202,199,185);
  padding: 1rem;
  margin: 1rem;
}
/*div.directory {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
div.directory section img {
  max-width: 100%;
}
div.directory section {
  text-align: center;
  background-color: rgb(202,199,185);
  padding: 1rem;
  margin-bottom: 1rem;
}
div.directory section p {
  font-size: 16px;
}*/
/*--------Contact--------*/
.contact {
  background-color: rgb(202,199,185);
}
.formcontainer {
  padding: 1em;
  margin: 0 auto;
}
input, textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid rgb(43,33,41);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.boardsection {
  text-align: center;
}
.member img {
  width: 75%;
  border-radius: 50%;
}
/*------Footer----*/
footer {
  color: white;
  background-color: rgb(169,185,179);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
footer h4 {
  color: rgb(43,33,41);
}
footer a {
  color: inherit;
}
footer .smicon {
  padding: 20px 0;
  justify-items: center;
}