body {
	/*font-size: 16px;*/
	font-family: 'Nunito', sans-serif;
}

/* phone or baseline views **************************/
/*header,
footer {
	background-color: #bed;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}*/

.subhead {
	color: black;
}

.name {
	color: white;
	background-color: rgb(41, 42, 41);
	border: 1px solid black;
}


header, footer {
    position: relative;
    background-color: rgb(24, 117, 185);
    padding: .5rem;
    color: white;
	text-align: center;
    font-family: 'Nunito', sans-serif;
}
header,
nav,
main,
footer {
	max-width: 100%;
	margin: 0 auto;
	padding: .5rem;
}

header img {
    width: 100px;
	padding: .5rem;
}

h1 {
	font-size: 30px;
}

h2 {
	text-align: center;
	color: rgb(41, 42, 41);
}

nav {
	background-color: rgb(85, 85, 85);
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

nav a:hover {
	color: rgb(253, 165, 31);
}

main {
	width: 75%;
    height: auto;
	font-size: 0.9rem;
    text-align: center;
    color: black;

}

main section {
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 4px #333;
	margin: 1em;
	background-color: rgb(218, 218, 218);
}


main section img {
	width: 200px;
	padding: .25rem;
}

main ul {
	text-align: left;
}

main table, th, td {
	border: 1px solid black; 
	border-collapse: collapse;
	text-align: left;
	padding: 5px;
}

main table {
	width: 100%;
	box-shadow: 0 0 2px #333;
}

.citrus {
	background-color: rgb(253, 165, 31);
}

.teal {
	background-color: rgb(24, 117, 185);
}

.waterfall {
	background-color: rgb(176,231, 228);
}

.grayowl {
	background-color: rgb(218,218,218);
}

.amherstgray {
	background-color: rgb(85, 85, 85);
	color: white;
}

.charcolgray {
	background-color: rgb(41, 42, 41);
	color: white;
}

.audienceinfo {
	text-align: left;
	padding: 0 1rem;
}

#siteheader {
	color: white;
	background-color: rgb(24, 117, 185);
	font-size: 40px;
}

#primnav {
	color: white;
	background-color: rgb(85, 85, 85);
	font-size: 16px;
}

#foottype {
	color: white;
	background-color: rgb(24, 117, 185);
	font-size: 16px;
}

#h2type {
	color: rgb(41, 42, 41);
	font-size: 25px;
}

#h3type {
	color: rgb(41, 42, 41);
	font-size: 20px;
}

#ptype {
	color: rgb(41, 42, 41);
	font-size: 16px;
}

footer a {
    color: inherit;
}
